/*PALETA DE COLORES*/

header{
    background-color: #ffb797; 
    font-family: Barlow-BlackItalic;
      
}

footer{
    background-color: #ffb797;
    font-family: Barlow-BlackItalic;
    text-align: center;
    
}

.icono-footer {
    width: 30px; height: 30px;
}


form{
    background-color: #f0f0f0;
    font-family: Damion-Regular;
    
}

@font-face {
    font-family: Barlow-BlackItalic;
    src: url(../../../assets/fonts/Barlow-BlackItalic.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
.grid-container{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 0,1fr repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 6; }
.div3 { grid-area: 2 / 1 / 6 / 6; }
}




/*Esto debe quedar al final del .CSS*/
 /*Defino los estilos para que se adapte en cada viewport*/

/*Defino los estilos para escritorio*/

   @media screen and (min-width: 480px){
    header{
        background-color:;
    }
}

@media screen and (min-width: 480px) and (orientation:landscape) {
    header{
        background-color:;
    }
}